WindowsService1/Service References/ServiceReference1/ServiceWMS181.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.OutStock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.OutStock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing" />
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/BILWeb.InStock" />
  <xs:complexType name="T_OutStockInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpVoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsOutStockPost" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsUnderShelvePost" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MoveReasonCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MoveReasonDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MoveType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutStockDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Plant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlantName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReviewStatus" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SupCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OutStockInfo" nillable="true" type="tns:T_OutStockInfo" />
  <xs:complexType name="ArrayOfT_OutStockInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OutStockInfo" nillable="true" type="tns:T_OutStockInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OutStockInfo" nillable="true" type="tns:ArrayOfT_OutStockInfo" />
  <xs:complexType name="T_OutStockDetailInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/BILBasic.Basing" base="q2:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CloseOweDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CloseOweRemark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CloseOweUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Costcenter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpVoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromStorageLoc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsOweClose" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsSerial" type="xs:int" />
          <xs:element minOccurs="0" name="MaterialDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OKSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="OldOutStockQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="OutStockID" type="xs:decimal" />
          <xs:element minOccurs="0" name="OutStockQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="OweRemark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OweRemarkDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OweRemarkUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Plant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlantName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemainQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReviewStatus" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="RowNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToStorageLoc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Unitname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Wbselem" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BILWeb.InStock" minOccurs="0" name="lstSerialNo" nillable="true" type="q3:ArrayOfT_SerialNoInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OutStockDetailInfo" nillable="true" type="tns:T_OutStockDetailInfo" />
  <xs:complexType name="ArrayOfT_OutStockDetailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OutStockDetailInfo" nillable="true" type="tns:T_OutStockDetailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OutStockDetailInfo" nillable="true" type="tns:ArrayOfT_OutStockDetailInfo" />
</xs:schema>