WindowsService1/Service References/ServiceReference1/ServiceWMS19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.Pallet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.Pallet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing" />
  <xs:complexType name="ArrayOfT_PalletInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_PalletInfo" nillable="true" type="tns:T_PalletInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_PalletInfo" nillable="true" type="tns:ArrayOfT_PalletInfo" />
  <xs:complexType name="T_PalletInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="PalletNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PalletType" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_PalletInfo" nillable="true" type="tns:T_PalletInfo" />
</xs:schema>