WindowsService1/Service References/ServiceReference1/ServiceWMS201.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.AppVersion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.AppVersion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AppVersionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creater" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LocalVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrVersionLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrVersionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAppPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionLevel" type="xs:int" />
      <xs:element minOccurs="0" name="VersionTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppVersionInfo" nillable="true" type="tns:AppVersionInfo" />
</xs:schema>