WindowsService1/Service References/ServiceReference1/ServiceWMS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.House" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.House" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing" />
  <xs:complexType name="T_HouseInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaCount" type="xs:int" />
          <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="AreaUsingCount" type="xs:int" />
          <xs:element minOccurs="0" name="BIsLock" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseStatus" type="xs:int" />
          <xs:element minOccurs="0" name="HouseType" type="xs:int" />
          <xs:element minOccurs="0" name="IsDel" type="xs:int" />
          <xs:element minOccurs="0" name="LocationDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrHouseStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrHouseType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseID" type="xs:int" />
          <xs:element minOccurs="0" name="WarehouseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_HouseInfo" nillable="true" type="tns:T_HouseInfo" />
  <xs:complexType name="ArrayOfT_HouseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_HouseInfo" nillable="true" type="tns:T_HouseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_HouseInfo" nillable="true" type="tns:ArrayOfT_HouseInfo" />
</xs:schema>