WindowsService1/Service References/ServiceReference1/ServiceWMS7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILBasic.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILBasic.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DividPage">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentPageRecordCounts" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentPageShowCounts" type="xs:int" />
      <xs:element minOccurs="0" name="PagesCount" type="xs:int" />
      <xs:element minOccurs="0" name="RecordCounts" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DividPage" nillable="true" type="tns:DividPage" />
  <xs:complexType name="ArrayOfComboBoxItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComboBoxItem" nillable="true" type="tns:ComboBoxItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComboBoxItem" nillable="true" type="tns:ArrayOfComboBoxItem" />
  <xs:complexType name="ComboBoxItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComboBoxItem" nillable="true" type="tns:ComboBoxItem" />
  <xs:complexType name="ArrayOfComboBoxItemExt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComboBoxItemExt" nillable="true" type="tns:ComboBoxItemExt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComboBoxItemExt" nillable="true" type="tns:ArrayOfComboBoxItemExt" />
  <xs:complexType name="ComboBoxItemExt">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComboBoxItemExt" nillable="true" type="tns:ComboBoxItemExt" />
</xs:schema>