WindowsService1/Service References/ServiceReference1/ServiceWMS13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.Menu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.Menu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BILWeb.Tree" />
  <xs:complexType name="ArrayOfT_MenuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_MenuInfo" nillable="true" type="tns:T_MenuInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_MenuInfo" nillable="true" type="tns:ArrayOfT_MenuInfo" />
  <xs:complexType name="T_MenuInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILWeb.Tree" base="q1:Tree_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="BHaveParameter" type="xs:boolean" />
          <xs:element minOccurs="0" name="BIsChecked" type="xs:boolean" />
          <xs:element minOccurs="0" name="BIsDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MemuAbbName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MenuStatus" type="xs:int" />
          <xs:element minOccurs="0" name="MenuStyle" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MenuType" type="xs:int" />
          <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SafeLevel" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="StrMenuStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMenuStyle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMenuType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_MenuInfo" nillable="true" type="tns:T_MenuInfo" />
</xs:schema>