WindowsService1/Service References/ServiceReference1/ServiceWMS4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.ContactCompany" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.ContactCompany" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing" />
  <xs:complexType name="T_ContactCompanyInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyNameEN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyType" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ContactUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_ContactCompanyInfo" nillable="true" type="tns:T_ContactCompanyInfo" />
  <xs:complexType name="T_ContactCompany_AddressInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/BILBasic.Basing" base="q2:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactCompanyID" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ContactUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NetAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_ContactCompany_AddressInfo" nillable="true" type="tns:T_ContactCompany_AddressInfo" />
  <xs:complexType name="ArrayOfT_ContactCompany_AddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_ContactCompany_AddressInfo" nillable="true" type="tns:T_ContactCompany_AddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_ContactCompany_AddressInfo" nillable="true" type="tns:ArrayOfT_ContactCompany_AddressInfo" />
  <xs:complexType name="ArrayOfT_ContactCompanyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_ContactCompanyInfo" nillable="true" type="tns:T_ContactCompanyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_ContactCompanyInfo" nillable="true" type="tns:ArrayOfT_ContactCompanyInfo" />
</xs:schema>