WMSSyncService/Service References/ServiceReference1/ServiceWMS23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.Login.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.Login.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BILWeb.Menu" />
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/BILWeb.UserGroup" />
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/BILWeb.Warehouse" />
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BILBasic.User" />
  <xs:complexType name="UserInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.User" base="q1:UserModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="BIsAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="BIsOnline" type="xs:boolean" />
          <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsOnline" type="xs:int" />
          <xs:element minOccurs="0" name="StrIsAdmin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrSex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUserStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUserType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaskCount" type="xs:int" />
          <xs:element minOccurs="0" name="WarehouseName" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BILWeb.Menu" minOccurs="0" name="lstMenu" nillable="true" type="q2:ArrayOfT_MenuInfo" />
          <xs:element minOccurs="0" name="lstQuanUser" nillable="true" type="tns:ArrayOfT_QuanUser_Model" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BILWeb.UserGroup" minOccurs="0" name="lstUserGroup" nillable="true" type="q3:ArrayOfT_UserGroupInfo" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BILWeb.Warehouse" minOccurs="0" name="lstWarehouse" nillable="true" type="q4:ArrayOfT_WareHouseInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfT_QuanUser_Model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_QuanUser_Model" nillable="true" type="tns:T_QuanUser_Model" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_QuanUser_Model" nillable="true" type="tns:ArrayOfT_QuanUser_Model" />
  <xs:complexType name="T_QuanUser_Model">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuanUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuanUserNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_QuanUser_Model" nillable="true" type="tns:T_QuanUser_Model" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
</xs:schema>