WMSSyncService/Service References/ServiceReference1/ServiceWMS28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.Area" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.Area" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" />
  <xs:complexType name="T_AreaInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaStatus" type="xs:int" />
          <xs:element minOccurs="0" name="AreaType" type="xs:int" />
          <xs:element minOccurs="0" name="BIsLock" type="xs:boolean" />
          <xs:element minOccurs="0" name="CheckID" type="xs:int" />
          <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HeightArea" type="xs:int" />
          <xs:element minOccurs="0" name="Hight" type="xs:decimal" />
          <xs:element minOccurs="0" name="HouseID" type="xs:int" />
          <xs:element minOccurs="0" name="HouseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseProp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IEscrow" type="xs:int" />
          <xs:element minOccurs="0" name="IsDel" type="xs:int" />
          <xs:element minOccurs="0" name="IsQuality" type="xs:int" />
          <xs:element minOccurs="0" name="Length" type="xs:decimal" />
          <xs:element minOccurs="0" name="LocationDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PalletLimit" type="xs:decimal" />
          <xs:element minOccurs="0" name="ProjectNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuanUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuanUserNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantityLimit" type="xs:decimal" />
          <xs:element minOccurs="0" name="SortArea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrAreaStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrAreaType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEscrowName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrHeightArea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemperaturePry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VolumeLimit" type="xs:decimal" />
          <xs:element minOccurs="0" name="WarehouseID" type="xs:int" />
          <xs:element minOccurs="0" name="WarehouseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WeightLimit" type="xs:decimal" />
          <xs:element minOccurs="0" name="Wide" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_AreaInfo" nillable="true" type="tns:T_AreaInfo" />
  <xs:complexType name="ArrayOfT_AreaInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_AreaInfo" nillable="true" type="tns:T_AreaInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_AreaInfo" nillable="true" type="tns:ArrayOfT_AreaInfo" />
</xs:schema>