WMSSyncService/Service References/ServiceReference1/ServiceWMS25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Base_Model">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auditor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuditorTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creater" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ERPCreater" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERPNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERPStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERPStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERPVoucherType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErpLineStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ErpVoucherNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeaderID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InitFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MainTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialNoID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifyTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Modifyer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperUserNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrintIPAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StockType" type="xs:int" />
      <xs:element minOccurs="0" name="StrCreateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrCreater" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrEDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrLineStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrModifyTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrModifyer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrVoucherType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrongHoldCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrongHoldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminateReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminateReasonID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VouDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VouUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Base_Model" nillable="true" type="tns:Base_Model" />
</xs:schema>