WMSSyncService/Service References/ServiceReference1/ServiceWMS35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.QualityChange" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.QualityChange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" />
  <xs:complexType name="T_QualityChangeInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QresoneCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_QualityChangeInfo" nillable="true" type="tns:T_QualityChangeInfo" />
  <xs:complexType name="ArrayOfT_QualityChangeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_QualityChangeInfo" nillable="true" type="tns:T_QualityChangeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_QualityChangeInfo" nillable="true" type="tns:ArrayOfT_QualityChangeInfo" />
  <xs:complexType name="T_QualityChangeDetailInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q2:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="AreaID" type="xs:int" />
          <xs:element minOccurs="0" name="AreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MaterialDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QResoneCode" type="xs:int" />
          <xs:element minOccurs="0" name="QResoneName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="VoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WareHouseID" type="xs:int" />
          <xs:element minOccurs="0" name="WareHouseNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_QualityChangeDetailInfo" nillable="true" type="tns:T_QualityChangeDetailInfo" />
  <xs:complexType name="ArrayOfT_QualityChangeDetailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_QualityChangeDetailInfo" nillable="true" type="tns:T_QualityChangeDetailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_QualityChangeDetailInfo" nillable="true" type="tns:ArrayOfT_QualityChangeDetailInfo" />
</xs:schema>