WMSSyncService/Service References/ServiceReference1/ServiceWMS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.Stock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.Stock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/BILWeb.OutBarCode" />
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" />
  <xs:complexType name="T_StockInfoEX">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:T_StockInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="BarcodeNo" type="xs:int" />
          <xs:element minOccurs="0" name="DelAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ERPBarcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsCheck" type="xs:boolean" />
          <xs:element minOccurs="0" name="ItemQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ManagerModel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostPeo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrintCreateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PrintCreater" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrintQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="RecPeo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReceiveStatusName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SQTY" type="xs:decimal" />
          <xs:element minOccurs="0" name="SendPeo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WareAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="boxdetail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="boxweight" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="labelmark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="matebatch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mixdate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="productbatch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="productclass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="protectway" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="relaweight" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="specialrequire" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="storecondition" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_StockInfoEX" nillable="true" type="tns:T_StockInfoEX" />
  <xs:complexType name="T_StockInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="AmountQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="AreaID" type="xs:int" />
          <xs:element minOccurs="0" name="AreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaType" type="xs:int" />
          <xs:element minOccurs="0" name="BarCodeType" type="xs:int" />
          <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CelareaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CheckID" type="xs:int" />
          <xs:element minOccurs="0" name="DecimalLngth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EAN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FloorType" type="xs:int" />
          <xs:element minOccurs="0" name="FromAreaID" type="xs:int" />
          <xs:element minOccurs="0" name="FromAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromBatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromErpAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromErpWarehouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromHouseID" type="xs:int" />
          <xs:element minOccurs="0" name="FromHouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromWareHouseID" type="xs:int" />
          <xs:element minOccurs="0" name="FromWareHouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HeightArea" type="xs:int" />
          <xs:element minOccurs="0" name="HouseID" type="xs:int" />
          <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseProp" type="xs:int" />
          <xs:element minOccurs="0" name="ISJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAmount" type="xs:int" />
          <xs:element minOccurs="0" name="IsDel" type="xs:int" />
          <xs:element minOccurs="0" name="IsLimitStock" type="xs:int" />
          <xs:element minOccurs="0" name="IsQuality" type="xs:int" />
          <xs:element minOccurs="0" name="IsRetention" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSpcBatch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JBarCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialChangeID" type="xs:int" />
          <xs:element minOccurs="0" name="MaterialDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OKSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="OldStockID" type="xs:int" />
          <xs:element minOccurs="0" name="OutstockDetailID" type="xs:int" />
          <xs:element minOccurs="0" name="PalletNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PalletQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PickAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PickModel" type="xs:int" />
          <xs:element minOccurs="0" name="PostUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Qty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReceiveStatus" type="xs:int" />
          <xs:element minOccurs="0" name="ReturnReson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReturnSupCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReturnSupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReturnType" type="xs:int" />
          <xs:element minOccurs="0" name="ReturnTypeDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaveType" type="xs:int" />
          <xs:element minOccurs="0" name="ScanQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ScanType" type="xs:int" />
          <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SortArea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupPrdBatch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupPrdDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TMaterialDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TMaterialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaskDetailesID" type="xs:int" />
          <xs:element minOccurs="0" name="ToBatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToErpAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToErpWarehouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransferDetailsID" type="xs:int" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WareHouseID" type="xs:int" />
          <xs:element minOccurs="0" name="WarehouseNo" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BILWeb.OutBarCode" minOccurs="0" name="lstBarCode" nillable="true" type="q2:ArrayOfT_OutBarCodeInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_StockInfo" nillable="true" type="tns:T_StockInfo" />
  <xs:complexType name="ArrayOfT_StockInfoEX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_StockInfoEX" nillable="true" type="tns:T_StockInfoEX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_StockInfoEX" nillable="true" type="tns:ArrayOfT_StockInfoEX" />
  <xs:complexType name="ArrayOfT_StockInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_StockInfo" nillable="true" type="tns:T_StockInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_StockInfo" nillable="true" type="tns:ArrayOfT_StockInfo" />
</xs:schema>