WMSSyncService/Service References/ServiceReference1/ServiceWMS13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.OutStockCreate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.OutStockCreate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" />
  <xs:complexType name="T_OutStockCreateInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BoxQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CloseOweDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CloseOweRemark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CloseOweUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Costcenter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentOutStockQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpDocNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FloorType" type="xs:int" />
          <xs:element minOccurs="0" name="FromBatchno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromErpAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromErpWareHouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromShipmentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FromStorageLoc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HeightArea" type="xs:int" />
          <xs:element minOccurs="0" name="HouseProp" type="xs:int" />
          <xs:element minOccurs="0" name="InStockID" type="xs:int" />
          <xs:element minOccurs="0" name="IsDel" type="xs:int" />
          <xs:element minOccurs="0" name="IsOweClose" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsSpcBatch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IssueType" type="xs:int" />
          <xs:element minOccurs="0" name="MStockStatus" type="xs:int" />
          <xs:element minOccurs="0" name="MainTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MainTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OKSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="OldOutStockQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="OutStockQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="OutstockDetailid" type="xs:int" />
          <xs:element minOccurs="0" name="OweRemark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OweRemarkDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OweRemarkUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PickGroupNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PickLeaderUserNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Plant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlantName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemainQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReviewStatus" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="RowNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowNoDel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScatQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="SelectHeaderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipDFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipNFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipPFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipWFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="StrIsSpcBatch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrongHoldType" type="xs:int" />
          <xs:element minOccurs="0" name="SupCusCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupCusName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaskType" type="xs:int" />
          <xs:element minOccurs="0" name="ToBatchno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToErpAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToErpWareHouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToShipmentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ToStorageLoc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TradingConditions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TradingConditionsName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Unitname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Wbselem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lstOutStockCreateInfo" nillable="true" type="tns:ArrayOfT_OutStockCreateInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OutStockCreateInfo" nillable="true" type="tns:T_OutStockCreateInfo" />
  <xs:complexType name="ArrayOfT_OutStockCreateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OutStockCreateInfo" nillable="true" type="tns:T_OutStockCreateInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OutStockCreateInfo" nillable="true" type="tns:ArrayOfT_OutStockCreateInfo" />
</xs:schema>