WMSSyncService/Service References/ServiceReference1/ServiceWMS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.OutStock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.OutStock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" />
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/BILWeb.InStock" />
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/BILWeb.Stock" />
  <xs:complexType name="T_OutStockInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BoxCount" type="xs:decimal" />
          <xs:element minOccurs="0" name="CarNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DISPRICE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DISPRICE1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Feight" type="xs:decimal" />
          <xs:element minOccurs="0" name="FromErpWarehouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromShipmentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GoodsValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsOutStockPost" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsUnderShelvePost" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ItemsWeight" type="xs:decimal" />
          <xs:element minOccurs="0" name="MStockStatus" type="xs:int" />
          <xs:element minOccurs="0" name="MoveReasonCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MoveReasonDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MoveType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OKSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="OutStockDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OutStockQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PcOrPda" type="xs:int" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Plant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlantName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReviewStatus" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ShipDFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipNFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipPFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipWFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="StrongHoldType" type="xs:int" />
          <xs:element minOccurs="0" name="SupCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOTALAMT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOTALAMT1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOTALNUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOTALNUM1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToErpWarehouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToShipmentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TradingConditions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TradingConditionsName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WmsStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeBranchCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fydocno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gtype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="hmdocno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lstDetail" nillable="true" type="tns:ArrayOfT_OutStockDetailInfo" />
          <xs:element minOccurs="0" name="qrCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="saddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="scity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shortAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="smobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sphone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="spostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sprov" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strReviewUserNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OutStockInfo" nillable="true" type="tns:T_OutStockInfo" />
  <xs:complexType name="ArrayOfT_OutStockDetailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OutStockDetailInfo" nillable="true" type="tns:T_OutStockDetailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OutStockDetailInfo" nillable="true" type="tns:ArrayOfT_OutStockDetailInfo" />
  <xs:complexType name="T_OutStockDetailInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q2:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CanOutStockQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="CarNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CloseOweDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CloseOweRemark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CloseOweUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Costcenter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EAN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromBatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromErpAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromErpWarehouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromStorageLoc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GoodsValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="HouseProp" type="xs:int" />
          <xs:element minOccurs="0" name="IsOweClose" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsSerial" type="xs:int" />
          <xs:element minOccurs="0" name="IsSpcBatch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemsWeight" type="xs:decimal" />
          <xs:element minOccurs="0" name="MaterialDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OKSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="OldOutStockQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="OutStockID" type="xs:decimal" />
          <xs:element minOccurs="0" name="OutStockQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="OweRemark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OweRemarkDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OweRemarkUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PalletNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PickQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="Plant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlantName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemainQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReviewDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ReviewQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReviewStatus" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReviewUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowNoDel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScanQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ShipDFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipNFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipPFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipWFlg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SouStrongHoldCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceRowNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceVoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="StrHouseProp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIsSpcBatch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrPostDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrongholdcodeDetail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrongholdcodeHeader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaskQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ToBatchno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToErpAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToErpWarehouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToStorageLoc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TradingConditions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnReviewQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="UnShelveQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Wbselem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fydocno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="hmdocno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isLight" type="xs:boolean" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BILWeb.InStock" minOccurs="0" name="lstSerialNo" nillable="true" type="q3:ArrayOfT_SerialNoInfo" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BILWeb.Stock" minOccurs="0" name="lstStock" nillable="true" type="q4:ArrayOfT_StockInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OutStockDetailInfo" nillable="true" type="tns:T_OutStockDetailInfo" />
  <xs:complexType name="ArrayOfT_OutStockInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OutStockInfo" nillable="true" type="tns:T_OutStockInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OutStockInfo" nillable="true" type="tns:ArrayOfT_OutStockInfo" />
</xs:schema>