WMSSyncService/Service References/ServiceReference1/ServiceWMS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.Customer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.Customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" />
  <xs:complexType name="T_CustomerInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
          <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactTel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerAbridge" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerStyle" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EnglishName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MailAdress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_CustomerInfo" nillable="true" type="tns:T_CustomerInfo" />
  <xs:complexType name="ArrayOfT_CustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_CustomerInfo" nillable="true" type="tns:T_CustomerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_CustomerInfo" nillable="true" type="tns:ArrayOfT_CustomerInfo" />
  <xs:complexType name="T_CustomerAddressInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q2:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactTel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_CustomerAddressInfo" nillable="true" type="tns:T_CustomerAddressInfo" />
  <xs:complexType name="ArrayOfT_CustomerAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_CustomerAddressInfo" nillable="true" type="tns:T_CustomerAddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_CustomerAddressInfo" nillable="true" type="tns:ArrayOfT_CustomerAddressInfo" />
</xs:schema>