WMSSyncService/Service References/ServiceReference1/ServiceWMS32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.Check" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.Check" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCheckArea_Model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckArea_Model" nillable="true" type="tns:CheckArea_Model" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckArea_Model" nillable="true" type="tns:ArrayOfCheckArea_Model" />
  <xs:complexType name="CheckArea_Model">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREANAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREANO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACTPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACTUSER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATETIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ISCheck" type="xs:boolean" />
      <xs:element minOccurs="0" name="LOCATIONDESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFYER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFYTIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="houseno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warehouseno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckArea_Model" nillable="true" type="tns:CheckArea_Model" />
</xs:schema>