WMSSyncService/Service References/ServiceReference1/ServiceWMS27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.Tree" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.Tree" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" />
  <xs:complexType name="Tree_Model">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="IcoName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsChecked" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsEnd" type="xs:int" />
          <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MenuNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mnemonic" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MnemonicCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mnemoniccode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NodeLevel" type="xs:int" />
          <xs:element minOccurs="0" name="NodeSort" type="xs:int" />
          <xs:element minOccurs="0" name="NodeUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentID" type="xs:int" />
          <xs:element minOccurs="0" name="ParentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SonQty" type="xs:int" />
          <xs:element minOccurs="0" name="ToolTipText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TreeNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tree_Model" nillable="true" type="tns:Tree_Model" />
</xs:schema>