WMSSyncService/Service References/ServiceReference1/ServiceWMS9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BILWeb.Quality" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BILWeb.Quality" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" />
  <xs:import schemaLocation="http://localhost:1501/ServiceWMS.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/BILWeb.Stock" />
  <xs:complexType name="T_QualityInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q1:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ErpInVoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InSQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsDel" type="xs:int" />
          <xs:element minOccurs="0" name="MaterialDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NoticeStatus" type="xs:int" />
          <xs:element minOccurs="0" name="QualityType" type="xs:int" />
          <xs:element minOccurs="0" name="QuanQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="QuanUserNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SampQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="StrQuanUserNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnQuanQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_QualityInfo" nillable="true" type="tns:T_QualityInfo" />
  <xs:complexType name="ArrayOfT_QualityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_QualityInfo" nillable="true" type="tns:T_QualityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_QualityInfo" nillable="true" type="tns:ArrayOfT_QualityInfo" />
  <xs:complexType name="T_QualityDetailInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/BILBasic.Basing.Factory" base="q2:Base_Model">
        <xs:sequence>
          <xs:element minOccurs="0" name="AreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaType" type="xs:int" />
          <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ErpInVoucherNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromBatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromErpAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromErpWarehouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InSQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsDel" type="xs:int" />
          <xs:element minOccurs="0" name="MaterialDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaterialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NoticeStatus" type="xs:int" />
          <xs:element minOccurs="0" name="PostUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QualityType" type="xs:int" />
          <xs:element minOccurs="0" name="QuanQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="QuanUserNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemainQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SampAreaID" type="xs:int" />
          <xs:element minOccurs="0" name="SampHouseID" type="xs:int" />
          <xs:element minOccurs="0" name="SampQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="SampWareHouseID" type="xs:int" />
          <xs:element minOccurs="0" name="ScanQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ToBatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToErpAreaNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToErpWarehouse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnQuanQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseNo" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BILWeb.Stock" minOccurs="0" name="lstStock" nillable="true" type="q3:ArrayOfT_StockInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_QualityDetailInfo" nillable="true" type="tns:T_QualityDetailInfo" />
  <xs:complexType name="ArrayOfT_QualityDetailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_QualityDetailInfo" nillable="true" type="tns:T_QualityDetailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_QualityDetailInfo" nillable="true" type="tns:ArrayOfT_QualityDetailInfo" />
</xs:schema>